.container {
  color: #606c76;
}

.display-table {
    display: table;
}

.bold {
    font-weight: 800;
}

.text-1 {
    font-size: 1rem;
}

.text-2 {
    font-size: 2rem;
}

.text-3 {
    font-size: 3rem;
}

.card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
  }
  
  /* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } */
  
  /* .container {
    padding: 2px 16px;
  } */

.row {
    padding:0 2.0rem;
}

.bg-lb {
    background-color: rgb(232, 250, 252);
}

.pb-10 {
    padding-bottom: 10rem;
}

.bounce {
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-12px);
    }
  }

.full-width {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    overflow: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

.main {
    overflow: hidden;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:white;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

.message {
  margin-left: 2rem;
  margin-right: 2rem;
}

.margin-0-auto {
  margin: 0 auto;
}